@media (max-width: 1600px) {
  .slider_arrow {
    right: 55px;
  }
  .slider_arrow-left {
    right: 100px;
  }
  .suptitle {
    margin-right: 55px;
  }
}

@media (max-width: 1500px) {
  .slider_arrow {
    right: 45px;
  }
  .slider_arrow-left {
    right: 90px;
  }
  .suptitle {
    margin-right: 45px;
  }
}
