@import "mixins";

@media (max-width: 1600px) {
  #header {
    .header_map {
      max-width: 850px;
      top: -50px;
      .map_item {
        transform: scale(0.9);
      }
    }
    .header_aside {
      .menu {
        padding-top: 30px;
        .menu_list {
          li {
            a {
              span {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
      .header_date {
        #day {
          margin-top: 25px;
        }
      }
      .header_location {
        margin-top: 20px;
      }
    }
    .header_slider {
      .header_slider-item {
        .slider_item-info {
          right: 55px;
        }
      }
    }
    .slider_dots {
      right: 25px;
    }
  }
}

@media (max-width: 1501px) {
  #header {
    .header_map {
      max-width: 820px;
      top: -55px;
      .map_item {
        transform: scale(0.8);
      }
    }
    .header_aside {
      .menu {
        padding-top: 20px;
        .menu_list {
          li {
            a {
              span {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
      .header_date {
        #day {
          margin-top: 18px;
          font-size: 65px;
        }
        #month,
        #year {
          font-size: 15px;
        }
      }
      .header_location {
        margin-top: 15px;
      }
    }
  }
  .main {
    #surf {
      .surf_slider {
        .surf_box {
          .surf_box-inner {
            height: 650px;
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  #header {
    .header_map {
      max-width: 730px;
      top: -102px;
      .map_item {
        transform: scale(0.6);
      }
    }
    .header_aside {
      left: -23px;
      top: -42px;
      .logo {
        transform: scale(0.73);
      }
      .menu {
        margin-top: -35px;
        padding-top: 0;
        .menu_list {
          transform: scale(0.9);
          li {
            a {
              span {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      .header_date {
        #day {
          margin-top: 0;
          font-size: 58px;
          line-height: 20px;
        }
        #month,
        #year {
          font-size: 14px;
        }
      }
      .header_location {
        display: none;
      }
    }
    .header_arrows {
      left: 130px;
    }
    .header_slider {
      .header_slider-item {
        .slider_item-info {
          right: 45px;
          .slider_item-info_suptitle {
            font-size: 18px;
          }
          .slider_item-info_title {
            font-size: 55px;
            margin: 0;
          }
          .slider_item-info_suptext {
            margin-bottom: 8px;
            font-size: 18px;
          }
          .slider_item-info_text {
            font-size: 34px;
            margin-bottom: 0;
          }
          .slider_item-info_link {
            margin-bottom: -20px;
          }
        }
      }
    }
    .slider_dots {
      right: 15px;
    }
  }
  .main {
    #surf {
      .surf_slider {
        .surf_box {
          .surf_box-inner {
            height: 550px;
          }
        }
      }
    }
  }
}
