::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #4af6cd;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #121f1c;
}

::-webkit-scrollbar {
  width: 5px;
}
